In [1]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [2]:
flight_df = pd.read_feather('data/v2_clean_flight')
flight_test_df = pd.read_feather('data/v1_clean_flight_test')
fuel_consumption_df = pd.read_feather('data/v1_clean_fuel_consumption')
passenger_df = pd.read_feather('data/v1_clean_passenger')

In [3]:
flight_model_df = flight_df[['dest','month','arr_delay','distance','state/country']]
cat_col = ['dest','month','state/country']
num_col = ['distance']

In [4]:
dummies = pd.get_dummies(flight_model_df,columns = cat_col)

In [5]:
dummies.dropna(inplace=True)

In [6]:
y_target = dummies[['arr_delay']].copy()

In [7]:
dummies.drop('arr_delay',axis=1,inplace=True)

In [8]:
x_train,x_test,y_train,y_test = train_test_split(dummies, y_target ,test_size=0.3)

In [9]:
x_test

,distance,dest_ABE,dest_ABI,dest_ABQ,dest_ABR,dest_ABY,dest_ACK,dest_ACT,dest_ACV,dest_ACY,...,state/country_TT,state/country_TX,state/country_UT,state/country_VA,state/country_VI,state/country_VT,state/country_WA,state/country_WI,state/country_WV,state/country_WY
75738,594.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21451,1124.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51613,896.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12317,328.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21473,942.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73621,456.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27284,715.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71626,985.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
72002,227.0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
26361,912.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
scaler = StandardScaler()

In [11]:
X = scaler.fit_transform(x_train[num_col])

In [12]:
x_train['distance'] = X

In [13]:
x_train

,distance,dest_ABE,dest_ABI,dest_ABQ,dest_ABR,dest_ABY,dest_ACK,dest_ACT,dest_ACV,dest_ACY,...,state/country_TT,state/country_TX,state/country_UT,state/country_VA,state/country_VI,state/country_VT,state/country_WA,state/country_WI,state/country_WV,state/country_WY
59790,0.685971,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
46382,-0.943138,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15827,2.006962,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36262,-1.048681,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
81162,0.617878,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20233,-0.749075,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
91266,0.507228,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
52625,-0.010273,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
84611,0.614474,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40735,-0.200932,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
xg_reg = xgb.XGBRegressor(objective ='reg:linear',
                          colsample_bytree = 0.3,
                          learning_rate = 0.1, 
                          max_depth = 5, alpha = 10, n_estimators = 10)

In [15]:
xg_reg.fit(x_train,y_train)

preds = xg_reg.predict(x_test)

[17:02:55] WARNING: /Users/runner/miniforge3/conda-bld/xgboost-split_1667849653518/work/src/objective/regression_obj.cu:213: reg:linear is now deprecated in favor of reg:squarederror.

In [16]:
# Mean Squared Error (MSE)
# Root-Mean-Squared-Error (RMSE)
# Mean-Absolute-Error (MAE)
# R² or Coefficient of Determination
# Adjusted R²

In [17]:
r2_score(y_test,preds)

0.00012771686166435092

In [18]:
# MSE
mean_squared_error(y_test,preds)

2369.118426121716

In [19]:
# RMSE
mean_squared_error(y_test,preds, squared=False)

48.673590643404516

In [20]:
# MAE

In [21]:
mean_absolute_error(y_test,preds)

23.527923017649098

In [22]:
# Adjusted R^2

In [23]:
# ---- Linear SVM -----

In [ ]:
#Import svm model
from sklearn import svm

#Create a svm Classifier
clf = svm.SVR(kernel='linear') # Linear Kernel

#Train the model using the training sets
clf.fit(x_train, y_train)

#Predict the response for test dataset
y_pred = clf.predict(x_test)

/Users/henryfriesen/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
r2_score(y_test,y_pred)